<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{.PageTitle}}</title>


        <link rel="stylesheet" type="text/css" href="/content/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/content/css/main.css?{{timestamp}}">
        <link rel="stylesheet" type="text/css" href="/content/css/print.css?{{timestamp}}" media="print" />
        
        <script src="/content/js/jquery-3.1.1.min.js"></script>

        <link rel="icon" type="image/png" sizes="32x32" href="/content/img/favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/content/img/favicons/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/content/img/favicons/favicon-16x16.png">
    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container">
                <a class="navbar-brand" href="/">{{.PageTitle}}</a>
            </div>
        </nav>

        <div class="container">
            {{range $i, $row := $.Recipes}}
                <div class="row">
                    {{range $j, $recipe := $row}}
                        <div class="col-md-3 recipe_card">
                            <div class="thumbnail_container">
                                <img style="width:100%" src="{{$recipe.PreviewImage}}"/>

                                <div class="cook_time">{{$recipe.MinCookTime}} - {{$recipe.MaxCookTime}}</div>

                                <div class="checkbox_container">
                                    <input type="checkbox" 
                                        name="checkbox_{{$i}}_{{$j}}" 
                                        id="checkbox_{{$i}}_{{$j}}" 
                                        class="css-checkbox" 
                                        value="{{$recipe.Title}}"
                                    >
                                    <label for="checkbox_{{$i}}_{{$j}}" class="css-label"></label>
                                </div>
                            </div>
                            <br>
                            <div class="main_title">
                                <a href="https://www.blueapron.com{{$recipe.LinkPath}}" target="_new">
                                    {{$recipe.PreviewTitle}}
                                </a>
                            </div>
                            <div class="sub_title">{{$recipe.PreviewSubTitle}}</div>
                            <br><br><br>
                        </div>           
                    {{end}}      
                </div>
            {{end}}

            <div class="shopping_list">&nbsp;</div>
        </div>

        <script>
            $('.css-checkbox').click(function() {
                var titles = [];

                $('.css-checkbox:checkbox:checked').each(function(index) {
                    titles.push($(this).val());
                });

                $.ajax({
                    type: "POST",
                    url: "/shoppingList",
                    processData: false,
                    contentType: 'application/json',
                    data: JSON.stringify({"recipes": titles}),
                    success: function(r) {
                        $('.shopping_list').html(r);
                        $('.shopping_list').show();
                    }
                });
            });
        </script>
    </body>
</html>